{{ $board := .Board }}
{{ $acct := .Acct }}
{{ $len := len .Posts }}
{{ $page := . }}
{{ range .Posts }}
{{ $thread := . }}
{{ $opId := .Id }}
{{ if eq $board.InReplyTo "" }}
<hr>
{{ end }}
<div style="overflow: auto;">
  <div id="{{ shortURL $board.Actor.Outbox .Id }}" style="overflow: visible; margin-bottom: 12px;">
    {{ if $acct }}
    [<a href="/delete?id={{ .Id }}&board={{ $board.Actor.Name }}">Delete Post</a>]
    {{ end }}
    {{ if .Attachment }}
    {{ if $acct }}
    [<a href="/banmedia?id={{ .Id }}&board={{ $board.Actor.Name }}">Ban Media</a>]
    [<a href="/deleteattach?id={{ .Id }}&board={{ $board.Actor.Name }}">Delete Attachment</a>]
    [<a href="/marksensitive?id={{ .Id }}&board={{ $board.Actor.Name }}">Mark Sensitive</a>]
    [<a href="/sticky?id={{ .Id }}&board={{ $board.Actor.Name }}">Sticky</a>]
    [<a href="/lock?id={{ .Id }}&board={{ $board.Actor.Name }}">Lock</a>]
    {{ end }}

    <span style="display: block;">File: <a id="{{ .Id }}-img" href="{{ proxy (index .Attachment 0).Href}}">{{ shortImg (index .Attachment 0).Name  }}</a><span id="{{ .Id }}-size"> ({{ convertSize (index .Attachment 0).Size  }})</span></span>

    {{ $sens := and $board.Actor.Restricted .Sensitive }}
    {{ $onion := and (isOnion .Id) (not (isOnion $board.Domain)) }}
    {{ $hide := or $sens $onion }}
    {{ if $hide }}
    <div id="hide-{{ .Id }}" style="display: none;">[Hide]</div>
    <div id="sensitive-{{ .Id }}" style="display: none;">
	    <div style="position: relative; text-align: center;">
		    <img id="sensitive-img-{{ .Id }}" style="float: left; margin-right: 10px; margin-bottom: 10px; max-width: 250px; max-height: 250px;" src="/static/sensitive.png">
		    <div id="sensitive-text-{{ .Id }}" style="width: 240px; position: absolute; margin-top: 110px; padding: 5px; background-color: black; color: white; cursor: default; ">{{if $sens}}NSFW Content{{if and $sens $onion}} / {{end}}{{end}}{{if $onion}}Tor{{end}}</div>
	    </div>
    </div>
    {{end}}
    <div id="media-{{ .Id }}" class="mediacont" {{if $hide}}data-sensitive="{{if $onion}}onion{{else}}nsfw{{end}}"{{end}}>
	    {{ parseAttachment . false }}
    </div>
    {{ end }}

    <span class="subject"><b>{{ .Name }}</b></span>
    <span class="name"><b>{{ if .AttributedTo }} {{.AttributedTo }} {{ else }} Anonymous {{ end }}</b></span>
    <span class="tripcode"> {{ .TripCode }} </span>
     <span class="timestamp" data-utc="{{.Published | timeToUnix}}">{{ .Published | timeToReadableLong }} <a id="{{ .Id }}-anchor" href="/{{ $board.Name }}/{{ shortURL $board.Actor.Outbox $opId }}#{{ shortURL $board.Actor.Outbox .Id }}">No.</a> <a id="{{ .Id }}-link" title="{{ .Id }}"   {{ if eq .Locked false }} {{ if eq .Type "Note" }} href="javascript:quote('{{ $board.Actor.Id }}', '{{ $opId }}', '{{ .Id }}')" {{ end }} {{ end }}>{{ shortURL $board.Actor.Outbox .Id }}</a> <span id="status" style="margin-right: 5px;">{{ if .Sticky }}<span id="sticky"><img src="/static/pin.png"></span>{{ end }} {{ if .Locked }} <span id="lock"><img src="/static/locked.png"></span>{{ end }}</span>{{ if ne .Type "Tombstone" }}[<a href="/make-report?actor={{ $board.Actor.Id }}&post={{ .Id }}">Report</a>]{{ end }}</span>
    <p id="{{ .Id }}-content" style="white-space: pre-wrap; margin: 10px 30px 10px 30px;">{{ parseContent $board.Actor $opId .Content $thread .Id $page.PostType }}</p>
    {{ if .Replies }}
    {{ $replies := .Replies }}
    {{ if gt $replies.TotalItems 5 }}
    {{ if gt $len 1 }}
    <span>{{ $replies.TotalItems }} replies{{ if gt $replies.TotalImgs 0}} and {{ $replies.TotalImgs }} images{{ end }}, Click <a id="view" post="{{.Id}}" href="/{{ $board.Name }}/{{ shortURL $board.Actor.Outbox .Id }}">here</a> to view all.</span>
    {{ end }}
    {{ end }}
    {{ range $replies.OrderedItems }}
    <div id="{{ shortURL $board.Actor.Outbox .Id }}">
      <div style="display: inline-block; overflow: auto;">
        <div style="float: left; display: block; margin-right: 5px;">&gt;&gt;</div>
        <div class="post" style="overflow: auto; padding: 5px; margin-bottom: 2px;">
          {{ if $acct }}
          [<a href="/delete?id={{ .Id }}&board={{ $board.Actor.Name }}">Delete Post</a>]
          {{ end }}

          {{ if and (gt (len .Attachment) 0) (index .Attachment 0).Id }}
          {{ if $acct }}
          [<a href="/banmedia?id={{ .Id }}&board={{ $board.Actor.Name }}">Ban Media</a>]
          [<a href="/deleteattach?id={{ .Id }}&board={{ $board.Actor.Name }}">Delete Attachment</a>]
          [<a href="/marksensitive?id={{ .Id }}&board={{ $board.Actor.Name }}">Mark Sensitive</a>]
          [<a href="/sticky?id={{ .Id }}&board={{ $board.Actor.Name }}">Sticky</a>]
          [<a href="/lock?id={{ .Id }}&board={{ $board.Actor.Name }}">Lock</a>]
          {{ end }}

          <span style="display: block;">File <a id="{{ .Id }}-img" href="{{ proxy (index .Attachment 0).Href}}">{{ shortImg (index .Attachment 0).Name  }}</a> <span id="{{ .Id }}-size">({{ convertSize (index .Attachment 0).Size  }})</span></span>

          {{ $sens := and $board.Actor.Restricted .Sensitive }}
	  {{ $onion := and (isOnion .Id) (not (isOnion $board.Domain)) }}
	  {{ $hide := or $sens $onion }}
	  {{ if $hide }}
	  <div id="hide-{{ .Id }}" style="display: none;">[Hide]</div>
	  <div id="sensitive-{{ .Id }}" style="display: none;">
		  <div style="position: relative; text-align: center;">
			  <img id="sensitive-img-{{ .Id }}" style="float: left; margin-right: 10px; margin-bottom: 10px; max-width: 250px; max-height: 250px;" src="/static/sensitive.png">
			  <div id="sensitive-text-{{ .Id }}" style="width: 240px; position: absolute; margin-top: 110px; padding: 5px; background-color: black; color: white; cursor: default; ">{{if $sens}}NSFW Content{{if and $sens $onion}} / {{end}}{{end}}{{if $onion}}Tor{{end}}</div>
		  </div>
	  </div>
	  {{end}}
	  <div id="media-{{ .Id }}" class="mediacont" {{if $hide}}data-sensitive="{{if $onion}}onion{{else}}nsfw{{end}}"{{end}}>
		  {{ parseAttachment . false }}
	  </div>
          {{ end }}

          <span class="subject"><b>{{ .Name }}</b></span>
          <span class="name"><b>{{ if .AttributedTo }} {{.AttributedTo }} {{ else }} Anonymous {{ end }}</b></span>
          <span class="tripcode"> {{ .TripCode }} </span>
          <span class="timestamp" data-utc="{{ .Published | timeToUnix }}">{{ .Published | timeToReadableLong }} <a id="{{ .Id }}-anchor" href="/{{ $board.Name }}/{{ shortURL $board.Actor.Outbox $opId }}#{{ shortURL $board.Actor.Outbox .Id }}">No. </a><a id="{{ .Id }}-link" title="{{ .Id }}" {{ if eq $thread.Locked false }} {{ if eq .Type "Note" }} href="javascript:quote('{{ $board.Actor.Id }}', '{{ $opId }}', '{{ .Id }}')" {{ end }} {{ end }}>{{ shortURL $board.Actor.Outbox .Id }}</a> {{ if ne .Type "Tombstone" }}[<a href="/make-report?actor={{ $board.Actor.Id }}&post={{ .Id }}">Report</a>]{{ end }}</span>
          {{ $parentId := .Id }}
          {{ if and .Replies .Replies.OrderedItems }}
          {{ range .Replies.OrderedItems }}
          <span id="{{$parentId}}-replyto-{{.Id}}">{{ parseReplyLink $board.Actor.Id $opId .Id .Content }}</span>
          {{ end }}
          {{ end }}
          <p id="{{ .Id }}-content" style="white-space: pre-wrap; margin: 10px 30px 10px 30px;">{{ parseContent $board.Actor $opId .Content $thread .Id $page.PostType }}</p>
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
