{{define "post"}}
{{ $board := .Board }}
{{ $acct := .Acct }}
{{ $thread := .Thread }}
{{ $opId := $thread.Id }}
{{ $trunc := .Trunc }}

{{with .Post}}
{{ if $acct }}
[<a href="/delete?id={{ .Id }}&board={{ $board.Actor.Name }}">Delete Post</a>]
{{ end }}

{{ if .Attachment }}
{{ if $acct }}
[<a href="/banmedia?id={{ .Id }}&board={{ $board.Actor.Name }}">Ban Media</a>]
[<a href="/deleteattach?id={{ .Id }}&board={{ $board.Actor.Name }}">Delete Attachment</a>]
[<a href="/marksensitive?id={{ .Id }}&board={{ $board.Actor.Name }}">Mark Sensitive</a>]

{{if not .InReplyTo}}
[<a href="/sticky?id={{ .Id }}&board={{ $board.Actor.Name }}">Sticky</a>]
[<a href="/lock?id={{ .Id }}&board={{ $board.Actor.Name }}">Lock</a>]
{{end}}
{{ end }}

<span class="fileinfo">
	File:
	<a id="{{ .Id }}-img" href="{{ proxy (index .Attachment 0).Href}}">{{ shortImg (index .Attachment 0).Name  }}</a>
	<span id="{{ .Id }}-size">({{ convertSize (index .Attachment 0).Size  }})</span>
</span>

{{ $sens := and $board.Actor.Restricted .Sensitive }}
{{ $onion := and (isOnion .Id) (not (isOnion $board.Domain)) }}
{{ $hide := or $sens $onion }}
{{ if $hide }}
<div id="hide-{{ .Id }}" style="display: none;">[Hide]</div>
<div id="sensitive-{{ .Id }}" class="sensitive">
    <img id="sensitive-img-{{ .Id }}" src="/static/sensitive.png">
    <div id="sensitive-text-{{ .Id }}">{{if $sens}}NSFW Content{{if and $sens $onion}} / {{end}}{{end}}{{if $onion}}Tor{{end}}</div>
</div>
{{end}}
<div id="media-{{ .Id }}" class="mediacont" {{if $hide}}style="display: none;" data-sensitive="{{if $onion}}onion{{else}}nsfw{{end}}"{{end}}>
    {{ parseAttachment . false }}
</div>
{{ else }}
{{if and $acct (not .InReplyTo)}}
[<a href="/sticky?id={{ .Id }}&board={{ $board.Actor.Name }}">Sticky</a>]
[<a href="/lock?id={{ .Id }}&board={{ $board.Actor.Name }}">Lock</a>]
{{end}}

{{ end }}

<span class="subject"><b>{{ .Name }}</b></span>
<span class="name"><b>{{ if .AttributedTo }}{{.AttributedTo }}{{ else }}Anonymous{{ end }}</b></span>
<span class="tripcode"> {{ .TripCode }} </span>
<span class="timestamp" data-utc="{{.Published | timeToUnix}}">{{ .Published | timeToReadableLong }} <a id="{{ .Id }}-anchor" href="/{{ $board.Name }}/{{ shortURL $board.Actor.Outbox $opId }}#{{ shortURL $board.Actor.Outbox .Id }}">No.</a> <a id="{{ .Id }}-link" title="{{ .Id }}"   {{ if eq .Locked false }} {{ if eq .Type "Note" }} href="javascript:quote('{{ $board.Actor.Id }}', '{{ $opId }}', '{{ .Id }}')" {{ end }} {{ end }}>{{ shortURL $board.Actor.Outbox .Id }}</a> <span id="status" style="margin-right: 5px;">{{ if .Sticky }}<span id="sticky"><img src="/static/pin.png"></span>{{ end }} {{ if .Locked }} <span id="lock"><img src="/static/locked.png"></span>{{ end }}</span>{{ if ne .Type "Tombstone" }}[<a href="/make-report?actor={{ $board.Actor.Id }}&post={{ .Id }}">Report</a>]{{ end }}</span>

{{ $parentId := .Id }}
{{ if and (and .Replies .Replies.OrderedItems) (not (eq $opId .Id)) }}
{{ range .Replies.OrderedItems }}
<span id="{{$parentId}}-replyto-{{.Id}}">{{ parseReplyLink $board.Actor.Id $opId .Id .Content }}</span>
{{ end }}
{{ end }}

<p id="{{ .Id }}-content">{{ parseContent $board.Actor $opId .Content $thread .Id $trunc }}</p>
{{end}}
{{end}}
