<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name='robots' content='noindex, nofollow'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Federated Imageboard based on Activtypub">
    <meta name="description" content="{{ .Meta.Description }}">
    <meta property="og:url" content="{{ .Meta.Url }}">
    <meta property="og:site_name" content="{{ .Instance.PreferredUsername }}" />

    <meta property="og:title" content="{{ .Meta.Title }}">
    <meta property="og:description" content="{{ .Meta.Description }}">

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content="{{ .Meta.Title }}">
    <meta name="twitter:description" content="{{ .Meta.Description }}">
    <meta name="twitter:card" content="summary_large_image">

    {{ if not (eq .Meta.Preview "") }}
    <meta property="og:image" content="{{ .Meta.Preview }}" />
    <meta name="twitter:image" content="{{ .Meta.Preview }}" />
    {{ end }}

    <link rel="icon" type="image/png"  href="/static/favicon.png">

    {{ if gt (len .ThemeCookie) 0 }}
    <link rel="stylesheet" type="text/css" href="/static/css/themes/{{.ThemeCookie}}.css" title="selected theme">
    {{ else }}
    <link rel="stylesheet" type="text/css" href="/static/css/themes/default.css" title="default">
    {{ end }}
    {{ range .Themes }}
    <link rel="alternate stylesheet" type="text/css" href="/static/css/themes/{{.}}.css" title="{{.}}" disabled>
    {{ end }}
  </head>
  <body {{ if not .Board.Restricted }}class="nsfw"{{ end }} onload="applyTheme()">
    <ul id="boardlinks">
      {{ $l := len .Boards }}
      <li>[<a href="/">Home</a>]</li>
      {{range $i, $e := .Boards}}
      {{ if eq (sub $l 1) 0 }}
      <li>[ <a href="{{.Location}}">{{$e.Name}} </a>]</li>
      {{ else if eq $i 0 }}
      <li>[<a href="{{.Location}}">{{$e.Name}} </a>/</li>
      {{ else if eq $i (sub $l 1) }}
      <li><a href="{{.Location}}">{{$e.Name}}</a>]</li>
      {{ else }}
      <li><a href="{{.Location}}">{{$e.Name}} </a>/</li>
      {{ end }}
      {{ end }}
      {{ if .Acct }}
      <li id="manageboard">[<a href="/{{ .Key }}/{{ .Board.Name }}">Manage Board</a>]</li>
      {{ end }}
    </ul>

    {{ embed }}
  </body>
</html>
