<header>
  <h1>Manage /{{ .Board.Name }}/</h1>
  <form id="summary-form" action="/{{ .Key }}/{{ .Board.Name }}/editsummary" method="post" enctype="application/x-www-form-urlencoded" style="margin-top: 5px;">
    <input id="summary" name="summary" size="35" placeholder="{{ .Board.Actor.Summary }}"></input>
    <input type="submit" value="Update Summary"><br>
    <input type="hidden" name="actor" value="{{ .Board.Actor.Id }}">
  </form>
  <!-- <div><a href="/{{ .Key }}/deleteboard?name={{ .Board.Name }}">[Delete Board]</a></div> -->
  <div>
    {{ if .IsLocal }}
    [<a href="#following"> Following </a>]
    [<a href="#followers"> Followers </a>]
    {{ end }}
    [<a href="#reported"> Reported </a>]
  </div>
</header>

[<a href="/{{ .Board.Name }}">Return</a>]

{{ $actor := .Board.Actor.Id }}
{{ $board := .Board }}
{{ $key := .Key }}
{{ if .IsLocal }}
<div id="following" class="box2">
  <h2>Following</h2>
  [{{ if .AutoSubscribe }}<a title="Auto Follow is On" href="/autosubscribe?board={{ .Board.Name }}">Toggle Auto Follow Off{{ else }}<a title="Auto Follow is Off" href="/autosubscribe?board={{ .Board.Name }}">Toggle Auto Follow On{{ end }}</a>]
  <form id="follow-form" action="/{{ .Key }}/{{ .Board.Name }}/follow" method="post" enctype="application/x-www-form-urlencoded" style="margin-top: 5px;">
    <input id="follow" name="follow" size="35" placeholder="https://fchan.xyz/g"></input>
    <input type="submit" value="Follow"><br>
    <input type="hidden" name="actor" value="{{ $board.Actor.Id }}">
  </form>
  <div style="margin-bottom: 12px; color: grey;">also https://fchan.xyz/g/following or https://fchan.xyz/g/followers</div>
  <ul class="nobullist">
    {{ range .Following }}
    <li>[<a href="/{{ $key }}/{{ $board.Name }}/follow?follow={{ . }}&actor={{ $actor }}">Unsubscribe</a>]<a href="{{ . }}">{{ . }}</a></li>
    {{ end }}
  </ul>
</div>

<div id="followers" class="box2">
  <h2>Followers</h2>
  <ul class="nobullist">
    {{ range .Followers }}
    <li><a href="{{ . }}">{{ . }}</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}

<div id="reported" class="box2">
  <h2>Reported</h2>
  <ul class="nobullist">
    {{ $domain := .Domain }}
    {{ range .Reports }}
    {{ range . }}
    <li style="padding: 12px;">
      <div style="margin-bottom: 5px;">{{ .Object.Updated | timeToReadableLong }}</div>
      <a id="rpost" post="{{ .ID }}" title="{{ parseLinkTitle .Actor.Outbox .OP .Object.Content}}" href="/{{ parseLink .Actor .ID }}">{{ shortURL .Actor.Outbox .ID }}</a> - <b>{{ .Count }}</b> [<a href="/delete?id={{ .ID }}&board={{ .Actor.Name }}&manage=t">Remove Post</a>] {{ if gt (len .Object.Attachment) 0 }} [<a href="/banmedia?id={{ .ID }}&board={{ .Actor.Name }}">Ban Media</a>] [<a href="/deleteattach?id={{ .ID }}&board={{ .Actor.Name }}&manage=t">Remove Attachment</a>]{{ end }} [<a href="/report?id={{ .ID }}&close=1&board={{ .Actor.Name }}">Close</a>]
      <ul>
        {{ range .Reason }}
        <li>
          <span>"{{ . }}" </span>
        </li>
        {{ end }}
      </ul>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>

{{ template "partials/footer" . }}
{{ template "partials/general_scripts" . }}
