{{ template "partials/top" . }}

{{ $board := .Board }}
<hr>

<ul id="navlinks">
  {{ template "partials/post_nav" . }}
  <li>[<a href="#bottom" id="top">Bottom</a>]</li>
</ul>

{{ template "partials/posts" . }}

<hr>


<ul id="navlinks">
  {{ template "partials/post_nav" . }}
  <li>[<a href="#top" id="bottom">Top</a>]</li>
</ul>

<hr>
{{ if gt .TotalPage 0 }}
{{ $totalPage := .TotalPage }}
<div id="pages">
  {{ $page := .CurrentPage }}
  {{ if gt $page 0 }}
  [<a href="/{{ $board.Name }}?page={{ sub $page 1 }}">&lt;</a>]
  {{ end }}
  {{ range $i, $e := .Pages }}
  {{ if eq $i $page}}
  [<a href="/{{ $board.Name }}?page={{ $i }}"><b>{{ $i }}</b></a>]
  {{ else }}
  [<a href="/{{ $board.Name }}?page={{ $i }}">{{ $i }}</a>]
  {{ end }}
  {{ end }}
  {{ if lt .CurrentPage .TotalPage }}
  [<a href="/{{ $board.Name }}?page={{ add $page 1 }}">&gt;</a>]
  {{ end }}
</div>
{{ end }}

{{ template "partials/bottom" . }}
{{ template "partials/footer" . }}
{{ template "partials/general_scripts" . }}
{{ template "partials/post_scripts" . }}
